.login {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.facebook__logo > img{
    object-fit: contain;
    height: 150px;
}

.facebook__logo {
    display: flex;
    flex-direction: column;
}

.login > button {
    width: 300px;
    background-color: #2e81f4;
    color: white;
    font-weight: 800;
}

.login > button:hover {
    background-color: white;
    color: #2e81f4
}

.login > div {
    display: flex;
    flex-direction: column;
}